.hipnosCodeWrapper {
    border-left: 2px dashed #ddd;
    border-right: 2px dashed #ddd;
}

.memoriesWrapper {
    border-right: 2px dashed #ddd;
}

.firstRow {
    border-bottom: 2px dashed #ddd;
}


.oos1 {

}
.oos2 {

}
.oos3 {

}
.oos4 {

}
.oos5 {

}
