.frameWrapper {
    display: flex;
    color: #2AB8AF;
    min-width: 100px;
    height: 100%;
    min-height: 150px;
    position: relative;
}

.svgElement {
    display: flex;
    position: absolute;
}

.contentWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;

}

.frameHeader {
    /*background-color: rgba(255, 255, 0, 0.4);*/
    /*position: relative;*/
}

.frameContent {
    /*background-color: rgba(255, 0, 0, 0.4);*/

    /*position: relative;*/
    flex: 1;
    overflow: auto;
}

.frameContentFullSize {
    /*background-color: rgba(255, 0, 255, 0.4);*/
    flex: 1;
}

.frameFooter {
    /*background-color: rgba(0, 0, 255, 0.4);*/
    /*position: relative;*/
}

