.itemWrapper {
    display: flex;
    flex-direction: column;
    padding: 0px;

    background-image: url("../../../../public/images/border.png");
    background-repeat: no-repeat;
    background-position-x: 0px;
    background-position-y: 0px;
}

.activeWrapper {
    background-image: url("../../../../public/images/border_active.png");
}

.itemImage {
    flex-grow: 1;

    width: 100px;
    height: 100px;
}

.itemTitle {
    margin-right: 25px;
}

