.segmentWrapper {
    display: flex;
    justify-content: space-between;
}

.baseSegmentWrapper {
    flex: 0;
}

.baseSegment {
    width: 140px;
    font-size: 72pt;
    color: #FF0440 !important;
    font-family: "Speedy", sans-serif !important;
    text-align: center;
    caret-color: transparent;
    aspect-ratio: 1 / 1;
}
.baseSegment:focus {
    background-color: rgba(255, 0, 0, 0.4);
    outline: none;
}